// Import frontend toolkit CSS
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/colours.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/css3.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/typography.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta.scss"
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs.scss"
// Import GOVUK elements
@import "../../node_modules/govuk-elements-sass/public/sass/elements.scss"


@media screen and (max-width: 641px)
  .mobile-hide
    display: none
    visibility: none

// Hide crown
#global-header #logo
  background-image: none

// Fixed width
.page-container
  @extend %site-width-container

// Start button image fix
.button-start
  background-image: url('./arrow.png')
  background-size: 17px 19px
  background-position: right 10px center

// Breadcrumb image fix
.breadcrumbs li
  background-image: url('./breadcrumbs-sep.png')
  background-size: 7px
  background-position: 0% 50%
  background-repeat: no-repeat

// Hero section on home
.hero
  margin: 0
  padding: 30px 0px
  color: $page-colour
  background-color: $govuk-blue
  position: relative
  left: 50%
  right: 50%
  margin-left: -50vw
  margin-right: -50vw
  width: 100vw
  max-width: 100vw
  .column-one-third:last-of-type
    padding: 10px 20px
  img
    width: 100%
  h1
    margin: 0px 0px 30px 0px
  .button
    background-color: $page-colour
    color: $govuk-blue
    margin-bottom: 10px
  a
    color: $page-colour

// Course overview timeline list
.course-overview-list
  margin-top: 50px
  position: relative
  &::before
    content: ""
    display: block
    height: calc(100% - 40px)
    border-left: solid 3px #bfc1c3
    position: absolute
    left: 17px
    top: 40px
    z-index: 1
  &::after
    content: ""
    display: block
    border-top: solid 3px #bfc1c3
    position: absolute
    bottom: 0px
    left: 8px
    width: 20px
    z-index: 1
  li.module
    padding: 15px 0px
    margin-left: 60px
    border-top: solid 2px #dee0e2
    position: relative
    span.unavailable
      opacity: 0.5
    span.number
      position: absolute
      left: -60px
      font-weight: bold
      border: solid 3px #bfc1c3
      border-radius: 100%
      width: 30px
      height: 30px
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      z-index: 2
      background-color: $page-colour
    h3
      margin: 0px

ol.lesson-list
  li
    margin-top: 10px

@media (min-width: 641px)
  .course-overview-list
    li.module
      padding: 30px 0px

.lesson-content, .module-content, .page-content
  strong
    font-weight: 700
  ul
    list-style-type: disc
    margin: 25px 0px 25px 25px
  ol
    list-style-type: decimal
    margin: 25px 0px 25px 25px
  em
    font-style: italic
  h1
    @include core-48
    font-weight: 700
    margin-top: 0.46875em
    margin-bottom: 0.9375em
  h2
    @include core-36
    font-weight: 700
    margin-top: 1.04167em
    margin-bottom: 0.41667em
  h3
    @include core-27
    font-weight: 700
    margin-top: 1.25em
    margin-bottom: 0.5em
  h4
    @include core-24
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em
  h5
    @include core-19
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em

  @media screen and (min-width: 641px)
    h1
      margin-top: 0.625em
      margin-bottom: 1.25em
    h2
      margin-top: 1.25em
      margin-bottom: 0.55556em
    h3
      margin-top: 1.875em
      margin-bottom: 0.83333em
    h4, h5
      margin-top: 1.05263em

  pre
    margin-bottom: 1em
  blockquote
    border-left-style: solid
    border-left-width: 10px
    border-color: #bfc1c3
    padding: 0.78947em
    margin-top: 0.26316em
    margin-bottom: 1.05263em
    p:last-of-type
      margin-bottom: 0px
  img, iframe
    max-width: 100%
    height: auto
  .gatsby-resp-image-link
    margin: 0 auto 30px auto

// Lesson navigation and pagination
.page-navigation
  margin-top: 0px
  padding-top: 45px
  overflow: hidden
  a
    text-decoration: none
    display: block
  span.title
    font-family: "nta", Arial, sans-serif
    font-weight: 400
    text-transform: none
    font-size: 20px
    line-height: 1.1111111111
    display: block
    font-size: 27px
    line-height: 1.25
    text-decoration: none
  span.label
    display: inline-block
    margin-top: 0.1em
    text-decoration: underline
    font-size: 16px
    line-height: 1.25
  .previous
    float: left
    text-align: left
    width: 49%
    margin-right: 2%
    svg
      transform: rotate(180deg)
      margin-right: 5px
  .next
    float: right
    text-align: right
    width: 49%
    svg
      margin-left: 5px

.plenary-quiz
  margin: 40px 0px
  padding-top: 10px
  border-top: 1px solid #bfc1c3
  .answer-icon
    font-size: 1.5em
    margin-left: 10px
    display: none
    visibility: 0
    &.visible
      display: inline
      visibility: visible
    &.correct
      color: $button-colour
    &.incorrect
      color: $red





h5.minimap
  margin-top: 140px
ol.minimap-list
  position: relative
  counter-reset: my-counter
  list-style-type: none
  margin: 25px 0px
  // Vertical line
  &::before
    content: ""
    display: block
    height: calc(100% - 15px)
    border-left: solid 2px #bfc1c3
    position: absolute
    left: 12px
    top: 25px
    z-index: 1
  // Cap at the end of the line
  &::after
    content: ""
    display: block
    border-top: solid 2px #bfc1c3
    position: absolute
    bottom: -10px
    left: 6px
    width: 15px
    z-index: 1
  li
    margin-left: 45px
    padding: 15px 0px
    border-top: solid 2px #dee0e2
    position: relative
    &:before
      content: counter(my-counter)
      counter-increment: my-counter
      position: absolute
      left: -45px
      font-weight: bold
      border: solid 2px #bfc1c3
      color: #bfc1c3
      border-radius: 100%
      width: 22px
      height: 22px
      text-align: center
      font-size: 0.8em
      line-height: 23px
      z-index: 2
      transform: translateY(-2px)
      background-color: $page-colour
    &.current
      font-weight: bold
      color: $text-colour
      &::before
        border-color: $text-colour
        color: $text-colour

pre
  padding: 20px
  border: 1px solid #bfc1c3
  overflow: auto
.todo
  background-color: #28a096
  color: #ffffff
  padding: 20px
  margin-top: 0.26316em
  margin-bottom: 1.05263em
  a
    color: #ffffff
.inset
  background-color: #DEE0E2
  padding: 20px
  margin-top: 0.26316em
  margin-bottom: 1.05263em

.project-badge
  display: inline-block
  text-align: center
  line-height: 1.65em
  background-color: #28a096
  border-radius: 100%
  color: $page-colour
  font-weight: bold
  margin-left: 7px
  font-size: 0.75em
  width: 20px
  height: 20px
